<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>
</head>

<body class="container ">

    <header>
        <%- include('../../partials/header',{nombreusuario:nombreusuario}); %>
    </header>

    <div class="card-header">
        <h2 class="animate__animated animate__backInRight animate__delay-1s">Lo mas representativo de Cañete</h2>
        <br>
        <h3 class="animate__animated animate__backInLeft animate__delay-1s">Lugares Tipicos </h3>
        <br>
        <div class="row row-cols-1 row-cols-md-3 g-4 animate__animated animate__backInLeft animate__delay-2s">
            <div class="col">
                <div class="card h-100">
                    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0a/2c/82/bc/arboles-autoctonos-en.jpg?w=1200&h=-1&s=1"
                        class="card-img-top" alt="IMGMUSEOMAPACHEDECAÑETE">
                    <!-- <i class="uil uil-heart"></i> -->
                    <div class="card-body">
                        <h5 class="card-title">Museo Mapuche de Cañete</h5>
                        <p class="card-text">Calificación <i class="uil uil-star"></i> <i class="uil uil-favorite"></i>
                            <i class="uil uil-star-half-alt"></i> <i class="uil uil-star-half-alt"></i> <i
                                class="uil uil-star-half-alt"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://municanete.cl/wp-content/uploads/2022/04/foto-3.jpg" class="card-img-top"
                        alt="Fundo aniqui">
                    <div class="card-body">
                        <h5 class="card-title">Fundo Anique</h5>
                        <p class="card-text">Calificación <i class="uil uil-star"></i> <i class="uil uil-favorite"></i>
                            <i class="uil uil-star-half-alt"></i> <i class="uil uil-star-half-alt"></i> <i
                                class="uil uil-star-half-alt"></i>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0a/85/7c/5b/fuente-plaza-canete.jpg?w=600&h=-1&s=1"
                        class="card-img-top" alt="Plaza de armas">
                    <div class="card-body">
                        <h5 class="card-title">Plaza de Armas</h5>
                        <p class="card-text">Calificación <i class="uil uil-star"></i> <i class="uil uil-favorite"></i>
                            <i class="uil uil-star-half-alt"></i> <i class="uil uil-star-half-alt"></i> <i
                                class="uil uil-star-half-alt"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <h2>Gastronomia</h2>
        <br>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="http://4.bp.blogspot.com/-c4h7-0YQN9g/Va6uJVbLAGI/AAAAAAAAAyM/Nh-GGZs7Hy0/s1600/asasas.jpg"
                        class="card-img-top" alt="Sopa seca con Carapulcra">
                    <div class="card-body">
                        <h5 class="card-title">Sopa seca con Carapulcra</h5>
                        <p class="card-text">Calificación <i class="uil uil-star"></i> <i class="uil uil-favorite"></i>
                            <i class="uil uil-star-half-alt"></i> <i class="uil uil-star-half-alt"></i> <i
                                class="uil uil-star-half-alt"></i>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="http://4.bp.blogspot.com/-ZAcRLYLpdew/Va6uqq6S7UI/AAAAAAAAAyU/adhftNpyZew/s1600/sss.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Frijoles con Tuca</h5>
                        <p class="card-text">Calificación <i class="uil uil-star"></i> <i class="uil uil-favorite"></i>
                            <i class="uil uil-star-half-alt"></i> <i class="uil uil-star-half-alt"></i> <i
                                class="uil uil-star-half-alt"></i>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="http://3.bp.blogspot.com/-ooHyNsQuZVY/Va6uzpLWaRI/AAAAAAAAAyc/zCXfhxUvC4g/s1600/aaaaaaa.jpg"
                        class="card-img-top" alt="Seco de Gato">
                    <div class="card-body">
                        <h5 class="card-title">Seco de Gato</h5>
                        <p class="card-text">Calificación <i class="uil uil-star"></i> <i class="uil uil-favorite"></i>
                            <i class="uil uil-star-half-alt"></i> <i class="uil uil-star-half-alt"></i> <i
                                class="uil uil-star-half-alt"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <h2>Hoteles</h2>
        <br>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="https://t-cf.bstatic.com/xdata/images/hotel/max1024x768/96341870.jpg?k=e57e4b0a8e0b31fca5a7851d20153e56d2efa4228f4303682b70aa81358eb571&o=&hp=1"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Hostal La Toba</h5>
                        <p class="card-text">Calificación <i class="uil uil-star"></i> <i class="uil uil-favorite"></i>
                            <i class="uil uil-star-half-alt"></i> <i class="uil uil-star-half-alt"></i> <i
                                class="uil uil-star-half-alt"></i>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="https://t-cf.bstatic.com/xdata/images/hotel/max1024x768/3453857.jpg?k=dbd09131bcdaa736bf937d181b0bf4f35ff1afa3a3a20c5df521edb73db2cc32&o=&hp=1"
                        class="card-img-top" alt="Hostal Restaurante La Muralla">
                    <div class="card-body">
                        <h5 class="card-title">Hostal Restaurante La Muralla</h5>
                        <p class="card-text">Calificación <i class="uil uil-star"></i> <i class="uil uil-favorite"></i>
                            <i class="uil uil-star-half-alt"></i> <i class="uil uil-star-half-alt"></i> <i
                                class="uil uil-star-half-alt"></i>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="https://t-cf.bstatic.com/xdata/images/hotel/max1024x768/353028736.jpg?k=c18a9fd1a2d07e6b0bc166cfff89ab5378a928f877fc8096936ea4c714ab7dd6&o=&hp=1"
                        class="card-img-top" alt="La Solana">
                    <div class="card-body">
                        <h5 class="card-title">La Solana</h5>
                        <p class="card-text">Calificación <i class="uil uil-star"></i> <i class="uil uil-favorite"></i>
                            <i class="uil uil-star-half-alt"></i> <i class="uil uil-star-half-alt"></i> <i
                                class="uil uil-star-half-alt"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <% notas.forEach(nota=> { %>
            <div class="col col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between align-items-center">
                            <%= nota.title %>
                                <form action="/notes/edit/<%= nota._id %>?_method=GET" method="POST">
                                    <input type="hidden" name="_method" value="GET">
                                    <button type="submit" class="btn btn-warning btn-block btn-sm "><i
                                            class="uil uil-edit"></i></button>
                                </form>
                        </h5>
                        <p>
                            <%= nota.Description %>
                        </p>
                        <form action="/notes/delete/<%= nota._id %>?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-block btn-sm ">Delete</button>
                        </form>

                    </div>
                </div>
                <br>
            </div>
            <% }) %>
    </div>

    </div>


    <footer>
        <%- include('../../partials/footer'); %>
    </footer>
    <%- include('../../partials/footer-f') %>