<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>
</head>

<body class="container bodyprincipal">

    <header>
        <%- include('../../partials/header',{nombreusuario:nombreusuario}); %>
    </header>
    <main>
        <h1>CAÑETE</h1>
        <h4>Cuna capital del arte negro</h4>
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5"
                    aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6"
                    aria-label="Slide 7"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="7"
                    aria-label="Slide 8"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="8"
                    aria-label="Slide 9"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="9"
                    aria-label="Slide 10"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="10"
                    aria-label="Slide 11"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="11"
                    aria-label="Slide 12"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="12"
                    aria-label="Slide 13"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="13"
                    aria-label="Slide 14"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="14"
                    aria-label="Slide 15"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="15"
                    aria-label="Slide 16"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="img/castillounanue.jpg" class="d-block w-100 imgSize" alt="Castillo Unanue">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>San Vicente de Cañete</h4>
                        <h5>Castillo Unanue:</h5>
                        <p>- El Castillo de Unanue era el palacio que el hijo de uno de los próceres peruanos José,
                            descendiente de Hipólito Unanue construyó a mediados del siglo XVIII, un lugar donde algunos
                            de los personajes más prominentes se juntaban para bailar y jugar. También era un centro de
                            contrabando de esclavos con un túnel de 10 kilómetros que lo une con la costa, porque
                            incluso entonces cuando la esclavitud era legal los vendedores evadían impuestos haciendo
                            sus negocios bajo tierra.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="img/museo_municipal.png" class="d-block w-100 imgSize" alt="Museo de la huaca malena">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>2. Asia:</h4>
                        <h5>Museo de la huaca malena</h5>
                        <p>- El Museo Municipal Huaca Malena cuenta con una sala de exposición y gabinetes. La
                            museografía fue diseñada por Brunella Scavia, Luis Repetto y Rodolfo Vera de ICOM Perú. El
                            museo fue inaugurado el 24 de junio del año 2001 con la presencia de destacadas
                            personalidades siendo sus padrinos la Doctora María Rostworowski y el Dr. Luis Repetto
                            Málaga.
                            - La exposición está orientada a dar a conocer los principales hallazgos encontrados en
                            Huaca Malena y presentar los tejidos más destacados recuperados gracias al programa "Adopte
                            un Textil".
                            - La conservación de los tejidos de Huaca Malena ha sido posible gracias al apoyo voluntario
                            de instituciones, personas naturales y en especial estudiantes de los colegios Franco
                            Peruano, San Silvestre y Capilla de Asia, quienes han auspiciado los trabajos de
                            restauración de estos textiles.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/calango.jpg" class="d-block w-100 imgSize" alt="Plaza de armas de Calango">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>3. Calango:</h4>
                        <h5>Plaza de armas de Calango</h5>
                        <p>El pueblo de Calango se ubica partiendo de Mala por una carretera afirmada de 24 Km a orillas
                            del río Mala. En la Plaza de Armas destaca una iglesia amarilla, las casas son casi todas de
                            adobe y de un solo piso. Cuando se pasea por los campos, lo que más se distingue son las
                            chacras rebosantes de todo tipo de frutas. La patrona del pueblo es la Virgen de la
                            Candelaria.
                            El distrito de Calango también tiene una vasta producción de "manzana Delicia" en sus
                            chacras (terrenos) que se ubican en los extremos del valle. También produce "uva Quebranta"
                            que se utiliza en la producción de vino tinto, pisco y otros licores. En el mes de febrero
                            el río tiene una apreciable producción de camarones y que sirven para la elaboración de
                            platos típicos como la sopa seca, picante de camarones, chupe de camarones, chaufa de
                            mariscos.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/cerroAzul.jpg" class=" d-block w-100 imgSize" alt="Muelle de Cerro Azulo">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>4. Cerro Azul:</h4>
                        <h5>Muelle de Cerro Azul</h5>
                        <p>- El muelle de concreto actual se construyó en 1925 y se culminó con el tendido de rieles en
                            todo el valle. Surgieron aduanas que otorgaron trabajo seguro a la población.
                            - Sin embargo, en 1972, el muelle tras ser puesto en la categoría de Puerto Menor durante el
                            gobierno de Velasco Alvarado, fue clausurado. Y esto ocurre a consecuencia de la
                            construcción de la carretera Panamericana Sur, por donde salían los productos hacia el
                            Callao y Pisco.
                            - Ahora, los pescadores artesanales utilizan esta caleta con gran afluencia. Y todavía se
                            puede observar algunos rastros de la línea férrea que partían desde las haciendas agrícolas
                            del valle.
                        </p>
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/coayllo.jpg" class="d-block w-100 imgSize" alt="La yesera">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>5. Coayllo:</h4>
                        <h5>La yesera</h5>
                        <p>- Sitio arqueológico que abarca 10 hectáreas aproximadamente. Ubicado a 11 kilómetros hacia
                            el este del pueblo de Coayllo. Según los investigadores su construcción data del periodo
                            intermedio tardío seguido de una ocupación Inca. La Yesera presenta estructuras
                            arquitectónicas complejas, entre las cuales están: una arquitectura habitacional, sitios de
                            almacenaje, cementerio, un sector con características Incas propias para el valle y una
                            pequeña área al parecer, ceremonial
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/chilca.jpg" class="d-block w-100 imgSize" alt="Chilcas y sus lagunas medicinale">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>6. Chilca:</h4>
                        <h5>Chilcas y sus lagunas medicinales</h5>
                        <p>- El distrito de Chilca está ubicado en el Km. 65 de la carretera Panamericana Sur,
                            aproximadamente a una hora y media de la ciudad de Lima. Chilca es reconocida por sus dos
                            lagunas medicinales: La Milagrosa, a la que se le atribuye propiedades curativas, y la
                            Mellicera, de la que se dice puede solucionar problemas de infertilidad y hasta lograr que
                            los que se den un baño en sus aguas traigan al mundo dos bebés a la vez.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/imperial.jpg" class="d-block w-100 imgSize" alt="Imperial">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>7. Imperial:</h4>
                        <p>- El distrito de Imperial es uno de los dieciséis que conforman la provincia de Cañete,
                            ubicada en el departamento de Lima, en la circunscripción del Gobierno Regional de
                            Lima-Provincias en el Perú.
                            - Fue creado por Ley N.º 1170 el 15 de noviembre de 1909, en el primer gobierno del
                            Presidente Armando guevara
                            - Ocupa una extensión de 53,16 km² y su población según el censo de 1993 era de 30 654
                            habitantes de los que más de 28 000 vivían en zona urbana. Su capital es el pueblo de
                            Imperial.
                            - En sus alrededores se encuentra la Fortaleza de Ungará, último vestigio de la Cultura
                            Huarco, antiguo Cañete. También se hallan antiguas haciendas instaladas entre las extensas
                            áreas de cultivo. Esta localidad está caracterizada por la importante actividad comercial de
                            sus habitantes.

                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/lunahuana.jpg" class="d-block w-100 imgSize" alt="Lunahuaná">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>8. Lunahuaná: </h4>
                        <h5>Puente colgante de catapalla</h5>
                        <p>- El Puente colgante de Catapalla es una construcción republicana que, según la historia del
                            distrito de Lunahuaná, habría sido construido en la década del sesenta, aunque algunos
                            suelen decir que su construcción se inició en la década anterior.
                            - Estructuralmente, el puente de Catapalla se encuentra hecho con el uso de maderas unidas
                            entre sí. Se sabe, que antes del puente de la década del sesenta, existía uno más
                            rudimentario, que permitía la comunicación entre ambos márgenes del río, pero que, sin
                            embargo, debido a lo débil de su construcción, sucumbió antes la fuerte corriente del Río
                            Cañete.
                            - El puente de Catapalla no solo es importante porque permite la comunicación en la ribera,
                            sino también porque resulta un estupendo lugar desde el cual observar la práctica del
                            canotaje y el kayak en el Río Cañete ya que a tan solo medio kilómetro de aquel se inicia la
                            práctica de estos deportes de río.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/mala.jpg" class="d-block w-100 imgSize" alt="Mala">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>9. Mala: </h4>
                        <h5>Ruinas el Salitre Mala</h5>
                        <p>- Las ruinas de El Salitre ubicado entre la margen sur de la desembocadura del río Mala y la
                            playa totoritas, en un terreno eriazo que comprende un total de 20 ha. Perteneciente al
                            horizonte Intermedio Tardío, se encuentra en un lugar significativo dentro del paisaje de la
                            desembocadura del río, desde donde se puede visualizar gran parte del valle bajo de Mala y
                            el océano.
                            - Su ubicación corresponde al promontorio rocoso ubicada a la izquierda de la desembocadura
                            del río, a 3.2 Km. Al Oeste del pueblo de Mala. Se accede a estas ruinas, desde el pueblo de
                            Mala, por una carretera asfaltada que llega hasta el Balneario de Totoritas, tomando un
                            camino carrozable a la izquierda del promontorio rocoso.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/pacaran.jpg" class="d-block w-100 imgSize" alt="Pacarán">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>11. Pacarán: </h4>
                        <h5>Plaza de Pacaran</h5>
                        <p>- Este hermoso lugar del valle de Cañete, históricamente se desarrolla desde la época Pre
                            Inca. El pueblo de Pacarán de pobladores llamados indios paricas, se extendió de norte a
                            sur, desde la ciudadela de Machuranga (Zúñiga) hasta el Puente Socci (Lunahuaná), cuya
                            Cabeza de Región estaba ubicado en San Marcos (Pacarán). La denominación quechua
                            “Paccamarca”, está compuesto por dos vocablos: PACCA; Oculto, escondido. MARCA; Pueblo,
                            Burgo. Posteriormente este vocablo sufrió cambios y quedo convertido en ”PACARAN“ El que
                            está oculto”, efectivamente como se podrá apreciar Pacarán, se encuentra escondido entre los
                            cerros.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/quilmana.jpg" class="d-block w-100 imgSize" alt="Quilmaná">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>12. Quilmaná:</h4>
                        <h5>Parque zonal de Chavín de Huántar</h5>
                        <p>- Parque zonal de Quilmaná, que es administrado por la Municipalidad de este distrito
                            cañetano. Se cobra un monto módico para ingresar a este parque temático, cuyo nombre es
                            "Parque Zonal Chavín de Huántar", siendo uno de los principales atractivos turísticos de
                            esta localidad.
                            - Su nombre Chavín de Huántar es debido a que, cuando se iba a construir este parque zonal,
                            se encontró un resto arqueológico que decía "Chavín".
                            - Este parque fue construido el año 2004 en Quilmaná, Cañete. Inicialmente su construcción
                            tenía finalidad recreacional, pero con el tiempo este Parque Zonal fue adquiriendo animales
                            silvestres, creando una alianza con el Parque de Las Leyendas quien les provee de animales.

                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/sanantonio.jpg" class="d-block w-100 imgSize"
                        alt="La efigie de san Antonio y la piedra campana">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>13. San Antonio:</h4>
                        <h5>La efigie de san Antonio y la piedra campana</h5>
                        <p>- A primera forma parte de una de las leyendas de la ciudad y que da origen al nombre del
                            pueble. Se observa a un bloque pétreo, en bulto, que se asemeja al Santo Patrón. Se halla
                            delante de otro bloque rocoso mayor, saliente del cerro.
                            - En relación a la Piedra Campana, ésta ubicada sobre tras rocas que sobresalen del cerro.
                            Llama poderosamente la atención de los visitantes, su sonido metálico, nítido, similar al de
                            una campana. Este sonido también lo tienen otras rocas del lugar, son muchas, aún distantes
                            de la principal.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/sanLuis.jpg" class="d-block w-100 imgSize" alt="La casa de la colonia china">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>14. San Luis:</h4>
                        <h5>La casa de la colonia china</h5>
                        <p>- La Casa de la Colonia China está declarada monumento Histórico Nacional por R.S. 2900 de
                            fecha 28 de diciembre de 1972, se encuentra ubicado en el distrito de San Luis - Cañete, a
                            la mano derecha del Centro de Salud del mismo distrito. San Luis fue una de las zonas que
                            albergó un alto porcentaje de inmigrantes chinos, y en esta colonia fue donde habitaban
                            estas personas de origen chino y japonés en la época Colonial. Hoy en día se ha convertido
                            en un pequeño museo que exhibe conjuntos de objetos e información que reflejan aspectos de
                            la existencia humana y nuestro entorno, con propósitos de estudio y educación, siempre con
                            un valor cultural.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/santacruzdeflores.jpg" class="d-block w-100 imgSize"
                        alt="Restos Arqueológicos “La Ollería">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>15. Santa Cruz de Flores:</h4>
                        <h5>Restos Arqueológicos “La Ollería”</h5>
                        <p>- Ubicado específicamente en la divisoria limítrofe de San Antonio y Santa Cruz de Flores, es
                            un sitio arqueológico de gran interés para los investigadores y los turistas, ya que
                            mantiene algunas características, como los grandes adobes de barro, que suponen que tuvo una
                            función de importancia para los Incas.
                            - La Ollería es un sitio arqueológico con características monumentales, el sitio mantiene
                            algunas características significativas para los investigadores, como la utilización de
                            grandes adobes de barro, una técnica constructiva que, como veremos, sólo se utiliza en el
                            valle de Mala en los edificios oficiales de la administración Inca. Por tal motivo, debemos
                            suponer que dicho sitio tuvo alguna función significativa para el aparato estatal inca.
                            e sonido también lo tienen otras rocas del lugar, son muchas, aún distantes
                            de la principal.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/zuniga.jpg" class="d-block w-100 imgSize" alt="La piedra calavera Zúñiga">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>16. Zúñiga:</h4>
                        <h5>La piedra calavera Zúñiga</h5>
                        <p>- La Piedra Calavera es un recurso turístico con jerarquía, pero que hasta ahora no se ha
                            puesto en valor. Es necesario recordar que el turismo es una actividad económica
                            complementaria que puede generar grandes beneficios socio-económicos, pero también puede ser
                            generador de conflictos. Es así que, hace un año aproximadamente constate la discordia que
                            existe entre los distritos de Chocos y Zúñiga por este tema, cuando al pasar observe un
                            letrero que estaba al pie de la Piedra Calavera haciendo referencia que esta pertenece a la
                            jurisdicción de Zuñigas, arruinando la belleza paisajística.
                        </p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>



        <!-- comentario -->
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <form class="form-horizontal" action="/comentario/add" method="post">
                            <fieldset>

                                <legend class="text-center header">Comentario</legend>

                                <div class="form-group">

                                    <span class="col-md-1 col-md-offset-2 text-center"><i
                                            class="fa fa-pencil-square-o bigicon"></i></span>
                                    <dov class="row">
                                        <div class="col-md-1">
                                            <p><img src="/img/avatar.png" alt="logo" width="75" height="75">
                                            </p>
                                        </div>
                                        <div class="col-md-11">
                                            <textarea class="form-control" id="message" name="message"
                                                placeholder="Escribenos tu comentario maximo de 300 caracteres" rows="3"
                                                maxlength="300"></textarea>
                                        </div>
                                    </dov>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12 text-right">
                                        <button type="submit" class="btn btn-primary btn-lg"><i
                                                class="uil uil-message"></i> Enviar</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- listado de comentario -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <div class="card" style="width: 90%;">
                            <ul class="list-group list-group-flush">
                                <% comentarios.forEach(comentario=> { %>
                                    <li class="list-group-item">
                                        <div class="container text-center">
                                            <div class="row justify-content-between">
                                                <div class="col-md-4 text-left">
                                                    <p><img src="/img/avatar.png" alt="logo" width="30" height="30">
                                                        <b>
                                                            <%= comentario.user %>
                                                        </b>
                                                    </p>
                                                </div>
                                                <div class="col-md-4 text-right"><b>
                                                        <i class="uil uil-thumbs-up"></i>
                                                        <i class="uil uil-ellipsis-v"></i>
                                                    </b>
                                                </div>
                                            </div>
                                            <div class="container text-left">
                                                <%= comentario.mensaje %>
                                            </div>
                                        </div>
                                    </li>
                                    <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <footer>
        <%- include('../../partials/footer'); %>
    </footer>
    <%- include('../../partials/footer-f') %>