<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>
</head>

<body class="container bodyprincipal">

    <header>
        <%- include('../../partials/header',{nombreusuario:nombreusuario, logo, Typeimg}); %>
    </header>

    <main>

        <h1>OPINION</h1>
        <% miopinionT.forEach(miopinion=> { %>
            <br>
            <div class="card" style="width: 100%;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Mensaje: <%= miopinion.mensaje %>
                            <p> Fecha: <%= miopinion.createdAt %>
                            </p>
                    </li>
                </ul>
            </div>
            <% }) %>

    </main>


    <footer>
        <%- include('../../partials/footer'); %>
    </footer>
    <%- include('../../partials/footer-f') %>